$body-bg: #ebebeb;

body {
  user-select: none;
}

.smurf-item {
  position: relative;

  &.unread:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: 10px;
    background: salmon;
    border-radius: 50%;
  }
}

.active:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: red;
}

.collapse-enter {
  transition: all 500ms;
  max-height: 100px;
  overflow: hidden;
}

.collapse-enter.collapse-enter-active {
  max-height: 0;
  padding: 0 !important;
}

.fly-out-enter {
  transition: all 500ms;
}

.fly-out-enter.fly-out-enter-active {
  transform: translateX(100px) scale(0.5);
  opacity: 0;
}

.fly-in-enter {
  transition: all 500ms;
  transform: translateX(-100px) scale(0.5);
  opacity: 0;
}

.fly-in-enter.fly-in-enter-active {
  transform: none;
  opacity: 1;
}
