$body-bg: #ebebeb;

body {
  user-select: none;
}

.smurf-item {
  position: relative;

  &.unread:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: 10px;
    background: salmon;
    border-radius: 50%;
  }
}

.active:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: red;
}