@import "custom";
@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

body {
    margin: 0;
}

@each $abbrev, $dir in (t:top, r:right, b:bottom, l:left) {
    .b#{$abbrev} {
        border-#{$dir}: 1px solid #c9c9c9;
    }
}

.overflow-auto {
    overflow: auto;
}

.match {
    background: rgba(255,0,0,0.5);
}

.position-relative {
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top :0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
}